<template>
  <v-card
    v-if="pluginDetails && status"
    outlined
    width="300"
    min-height="182"
    class="mr-6 mb-6 fill-height d-inline-flex flex-column"
    :disabled="status === 'disabled'"
  >
    <v-card-title>
      <v-row class="justify-space-between align-center">
        <v-col cols="auto">
          {{ pluginDetails.title }}
        </v-col>
        <v-col cols="auto">
          <v-switch
            v-model="localSwitchValue"
            inset
            color="green lighten-1"
            :messages="localSwitchValue ? 'Allowed' : 'Blocked'"
          ></v-switch>
        </v-col>
      </v-row>
    </v-card-title>
    <v-card-text>
      {{ pluginDetails.description }}
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: "PluginCard",
  props: {
    pluginDetails: {
      required: true,
    },
    status: {
      required: true,
    },
  },
  computed: {
    localSwitchValue: {
      get: function () {
        return this.status === "active";
      },
      set: function (newValue) {
        this.$emit("input", newValue ? "active" : "inactive");
      },
    },
  },
};
</script>

<style>
.theme--light.v-sheet--outlined {
  border: 1.5px solid rgba(0, 0, 0, 0.12);
}
</style>