<template>
  <v-row class="fill-height mx-0">
    <v-col cols="2" class="fill-height blue-grey lighten-5 px-0">
      <div class="text-h4 mb-8 ml-4 blue-grey--text text--darken-4">
        Data<span class="font-weight-black">Guard</span>
      </div>
      <v-tabs
        vertical
        grow
        slider-color="red darken-4"
        slider-size="6"
        background-color="blue-grey lighten-5"
        color="grey darken-3"
        active-class="white"
      >
        <v-tab
          v-for="tab in tabsData"
          :key="tab.id"
          class="justify-start"
          :to="{ name: tab.title.toLowerCase() }"
        >
          <v-icon left> {{ tab.icon }} </v-icon>
          {{ tab.title }}
        </v-tab>
      </v-tabs>
    </v-col>

    <v-col cols="10" class="align-start justify-start d-flex pl-12 pt-6">
      <router-view :key="$route.path"></router-view>
    </v-col>
  </v-row>
</template>

<script>
import axios from "axios";

export default {
  name: "PluginTabsContainer",
  data: () => ({
    tabsData: [],
    activateAll: false,
  }),
  async created() {
    try {
      const res = await axios.get(`http://localhost:3000/tabdata`);
      this.tabsData = res.data;
    } catch (error) {
      console.log(error);
    }
  },
};
</script>
