<template>
  <div>
    <div
      class="headline mb-6 blue-grey--text text--darken-4 font-weight-medium"
    >
      {{ `${pagePlugins.title} Plugins` }}
    </div>
    <PluginCard
      v-for="plugin in pagePlugins.plugins"
      :key="plugin.id"
      :pluginDetails="pluginDetails[plugin.id]"
      :status="plugin.status"
      @input="(newStatus) => updateStatus(newStatus, plugin)"
    ></PluginCard>
  </div>
</template>

<script>
import axios from "axios";
import PluginCard from "./shared/PluginCard.vue";

export default {
  name: "TabContent",
  components: { PluginCard },
  data: () => ({
    pagePlugins: [],
    pluginDetails: [],
  }),
  computed: {
    tabId() {
      switch (this.$route.name) {
        case "marketing":
          return "tab1";
        case "finance":
          return "tab2";
        default:
          return "tab3";
      }
    },
  },
  async created() {
    try {
      const pagePlugins = await axios.get(
        `http://localhost:3000/tabdata/${this.tabId}`
      );
      this.pagePlugins = pagePlugins.data;

      const pluginDetails = await axios.get(`http://localhost:3000/plugins`);
      this.pluginDetails = pluginDetails.data;
    } catch (error) {
      console.log(error);
    }
  },
  methods: {
    updateStatus(newStatus, plugin) {
      plugin.status = newStatus;

      try {
        axios.patch(
          `http://localhost:3000/tabdata/${this.tabId}`,
          this.pagePlugins
        );
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>
